
body{
background-color: black;
}

#logo1 {
  padding: 5px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.center title {
background-color:black ;

}
.toolbar__left,
.toolbar__right,
.tabbar {
    background-color: #000000;
}

/* Chat containers */


.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: white;
  background-color: black;
}

.container::after {
  content: "";
  clear: both;
  display: flex;
}

.container img {
  float: left;
  max-width: 15%;
  width: 80%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 100px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: white;
}
/*chat message*/

/* The popup chat - hidden by default */
.form-popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid gray;
  z-index: 15;
}

/* Add styles to the form container */
.form-container {
  max-width: 50%;
  padding: 10px;
  background-color: black;
  
}

/* Full-width textarea */
.form-container textarea {
  width: 185%;
  padding: 30px;
  margin: 5px 0 20px 0;
  border: none;
  background: #f1f1f1;
  resize: 50px;
  min-height: 70px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4d4dff;
  color: white;
  padding: 50px 50px;
  border: none;
  cursor: pointer;
  width: 197%;
  margin-bottom:10px;
  opacity: 10;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 10;
}

