<ons-page id="profile">
    <ons-list>
        <ons-list-item>
            <div class="left">
              <img class ="imglike" src="assets/img/gar.jpg">
            </div>
            <div class="center">
              <span class="list-item__title">Muhammad</span><span class="list-item__subtitle">Premium</span>
            </div>
          </ons-list-item>
      <ons-list-header>My Account</ons-list-header>
      <ons-list-item>My List</ons-list-item>
      <ons-list-item>Account</ons-list-item>
      <ons-list-item>Notifications</ons-list-item>
      <ons-list-item>Setting</ons-list-item>
      <ons-list-item>Privacy</ons-list-item>
      <ons-list-item>Help</ons-list-item>
      <ons-list-item>About</ons-list-item>
      <!-- <ons-list-item onclick="location.href='index.html'">Sign Out</ons-list-item> -->
    </ons-list>
    

</ons-page>