<ons-page id="profile">
    <ons-list>
        <ons-list-item>
            
          <div class="container">
            <div class="display-2"></div>
            <!-- <div class=""><span id="username"></span></div> -->
            <p>
                <div id="displayname"></div>           
            </p>
            <p>
                <div><img id="photo" src="" alt="" srcset=""></div>
            </p>
            <button type="button" id="signout" class="btn btn-primary">Sign Out</button>
        </div>  
          </ons-list-item>
      <ons-list-header>My Account</ons-list-header>
      <ons-list-item>My List</ons-list-item>
      <ons-list-item>Account</ons-list-item>
      <ons-list-item>Notifications</ons-list-item>
      <ons-list-item>Setting</ons-list-item>
      <ons-list-item>Privacy</ons-list-item>
      <ons-list-item>Help</ons-list-item>
      <ons-list-item>About</ons-list-item>
    </ons-list>
    

</ons-page>