<ons-page id="่johnwick">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer.jpg">
    </div>
    
    <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel" style="height: 80%;">
    </ons-carousel>
    

    <div class="movie_list">
        Similar Movies
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Avatar2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Fast8.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/The witcher.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/aquaman.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Extraction.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>

