<ons-page id="่johnwick">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer.jpg">
    </div>
    <ons-carousel title="text-align:center" id="carousel" style="height: 80%;">
    </ons-carousel>
    <div class="movie_info">
        <h1>John wick 3</h1>
        <ons-row class="movie_general_info">
            <ons-col class="stars">
                <ons-icon style="color: black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color: gray" icon="fa-star"></ons-icon>
            </ons-col>
            <ons-col>2019</ons-col>
            <ons-col>Action</ons-col>
            <ons-col>2h 10m</ons-col>
        </ons-row>
        <div class="movie_synopsis">John Wick is on the run after killing a member of the international assassins'guild, 
            and with a $14 million price tag on his head, he is the target of hit men and women everywhere.
            The third installment was announced in June 2017. Much of the returning cast and crew was confirmed in February 2018, 
            with new members joining that May. Filming began that month and lasted through November, taking place in New York City, Montreal, and Morocco.
        </div>
        <div class="movie_cast">
            Cast: Keanu Reeves, Halle Berry, Ian McShane<br />
            Director: Chad Stahelski
        </div>
    </div>
    

    <div class="movie_list">
        Similar Movies
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Avatar2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Fast8.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/The witcher.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/aquaman.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Extraction.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>

