<ons-page id="toystory">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer3.jpg">
    </div>
    <div class="movie_info">
        <h1>Toy Story 4</h1>
        <ons-row class="movie_general_info">
            <ons-col class="stars">
                <ons-icon style="color: black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color: gray" icon="fa-star"></ons-icon>
            </ons-col>
            <ons-col>2019</ons-col>
            <ons-col>Animation</ons-col>
            <ons-col>1h 40m</ons-col>
        </ons-row>
        <div class="movie_synopsis">When a new toy called "Forky" joins Woody and the gang, a road trip alongside old
            and new friends reveals how big the world can be for a toy.On the day of Bonnie's kindergarten orientation,
            Woody worries over her and sneaks into her backpack. After a classmate takes away Bonnie's arts and crafts
            supplies, Woody covertly recovers the materials and various pieces of garbage from the trash, including a
            plastic spork. Bonnie uses these to create a bipedal spork with googly eyes, whom she dubs "Forky"
        </div>
        <div class="movie_cast">
            Cast: John David Washington, Robert Pattinson, Elizabeth Debicki <br />
            Director: Christopher Nolan
        </div>
    </div>

    <div class="movie_list">
        Similar Movies
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Avatar2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Fast8.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/The witcher.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/aquaman.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider">
                <img src="assets/img/Extraction.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>