<ons-page id="download">
    <ons-list-item>firebase
      <div class="left">
        <img class ="imglike" src="assets/img/zohan.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Zohan (2008)</span><span class="list-item__subtitle">2GB</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/Deadpool.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Deadpool (2016)</span><span class="list-item__subtitle">3.5GB</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/Harry.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Harry Potter 7 (2011)</span><span class="list-item__subtitle">3.8GB</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/IronMan.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Iron Man 3 (2013)</span><span class="list-item__subtitle">3.0GB</span>
      </div>
    </ons-list-item>
    
</ons-page>