<ons-page id="download">

  <ons-card class="post">
    <ons-list-item class="post_title">
      <div class="center">
        <div class="list-item__title"><b>SPIDER-MAN: INTO THE SPIDER-VERSE (2018)</b></div>
        <div class="list-item__subtitle" style="font-size: 12px">PG | 1h 57min | 890 MB </div>
      </div>
      <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="md-check-circle"></ons-icon></ons-button></div>
    </ons-list-item>

    <div style="text-align: center; position: relative;" ondblclick="like(1)">
      <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
      <div class="trailer">
      <ons-icon icon="fa-play-circle"></ons-icon>
      <video style="width: 100%;height: auto;" src="assets/video/spiderman.mp4" autoplay muted loop></video>
      </div>
    </div>
    <br><br>
    
  </ons-card>

  <ons-card class="post">
    <ons-list-item class="post_title">
      <div class="center">
        <div class="list-item__title"><b>Harry Potter and the Chamber of Secrets (2002) </b></div>
        <div class="list-item__subtitle" style="font-size: 12px">PG | 2h 41min | 1.2 GB </div>
      </div>
      <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="md-check-circle"></ons-icon></ons-button></div>
    </ons-list-item>

    <div style="text-align: center; position: relative;" ondblclick="like(1)">
      <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
      <div class="trailer">
      <ons-icon icon="fa-play-circle"></ons-icon>
      <video style="width: 100%;height: auto;" src="assets/video/harry.mp4" autoplay muted loop></video>
      </div>
    </div>
    <br><br>
  </ons-card>

  <ons-card class="post">
    <ons-list-item class="post_title">
      <div class="center">
        <div class="list-item__title"><b>The Witcher (2019)</b></div>
        <div class="list-item__subtitle" style="font-size: 12px">15 | 1h | 3.2 GB </div>
      </div>
      <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="md-check-circle"></ons-icon></ons-button></div>
    </ons-list-item>

    <div style="text-align: center; position: relative;" ondblclick="like(1)">
      <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
      <div class="trailer">
      <ons-icon icon="fa-play-circle"></ons-icon>
      <video style="width: 100%;height: auto;" src="assets/video/witcher.mp4" autoplay muted loop></video>
      </div>
    </div>
    <br><br>
  </ons-card>

  <ons-card class="post">
    <ons-list-item class="post_title">
      <div class="center">
        <div class="list-item__title"><b>Joker (2019)</b></div>
        <div class="list-item__subtitle" style="font-size: 12px">15 | 2h 2min | 923 MB  </div>
      </div>
      <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="md-check-circle"></ons-icon></ons-button></div>
    </ons-list-item>

    <div style="text-align: center; position: relative;" ondblclick="like(1)">
      <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
      <div class="trailer">
      <ons-icon icon="fa-play-circle"></ons-icon>
      <video style="width: 100%;height: auto;" src="assets/video/joker.mp4" autoplay muted loop></video>
      </div>
    </div>
    <br><br>
  </ons-card>
</ons-page>