<ons-page id="favorite">
    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/zohan.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Zohan (2008)</span><span class="list-item__subtitle">An Israeli Special Forces Soldier fakes his death so he can re-emerge in New York City as a hair stylist.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/Deadpool.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Deadpool (2016)</span><span class="list-item__subtitle">A wisecracking mercenary gets experimented on and becomes immortal but ugly, and sets out to track down the man who ruined his looks.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/Harry.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Harry Potter 7 (2011)</span><span class="list-item__subtitle">Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/IronMan.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Iron Man 3 (2013)</span><span class="list-item__subtitle">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</span>
      </div>
    </ons-list-item>
    
</ons-page>