<ons-page id="feed">
      <ons-card class="post">
        <ons-list-item class="post_title">
          <div class="left">
            <img class="list-item__thumbnail" src="assets/img/profile1.jpg" >
          </div>
          <div class="center">
            <div class="list-item__title"><b>fhutzchx</b></div>
            <div class="list-item__subtitle" style="font-size: 12px">Prine of Songkla University, Phuket</div>
          </div>
          <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="ion-ios-more,material:ion-android-more-vertical"></ons-icon></ons-button></div>
        </ons-list-item>

        <div style="text-align: center; position: relative;" ondblclick="like(1)">
          <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
          <img class="post-image" src="assets/img/spiderman.jpg">
        </div>

        <ons-list-item class="post-button-bar" modifier="nodivider">
          <div class="center" style="padding-top: 0px">
            <ons-button class="post-button" modifier="quiet" onclick="like(1)"><ons-icon id="button-post-like-3" icon="md-favorite,material:md-favorite"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-favourite-outline"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-paperplane-outline"></ons-icon></ons-button>
          </div>
          <div class="right corner-button bookmark">
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="md-bookmark-outline"></ons-icon></ons-button>
          </div>
        </ons-list-item>

        <div class="post-like-info"><b>1,329 likes</b></div>
        <div class="post-caption"><b>fhutzchx</b> Great! movies #spiderman</div>
        <div class="post-time">1 HOUR AGO</div>
      </ons-card>

      <ons-card class="post">
        <ons-list-item class="post_title">
          <div class="left">
            <img class="list-item__thumbnail" src="assets/img/profile2.png" >
          </div>
          <div class="center">
            <div class="list-item__title"><b>94.fah</b></div>
            <div class="list-item__subtitle" style="font-size: 12px">Soul Apartment, Korea</div>
          </div>
          <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="ion-ios-more,material:ion-android-more-vertical"></ons-icon></ons-button></div>
        </ons-list-item>

        <div style="text-align: center; position: relative;" ondblclick="like(2)">
          <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
          <img class="post-image" src="assets/img/007.jpg">
        </div>

        <ons-list-item class="post-button-bar" modifier="nodivider">
          <div class="center" style="padding-top: 0px">
            <ons-button class="post-button" modifier="quiet" onclick="like(2)"><ons-icon id="button-post-like-3" icon="md-favorite,material:md-favorite"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-chatbubble-outline"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-paperplane-outline"></ons-icon></ons-button>
          </div>
          <div class="right corner-button bookmark">
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="md-bookmark-outline"></ons-icon></ons-button>
          </div>
        </ons-list-item>

        <div class="post-like-info"><b>1,131 likes</b></div>
        <div class="post-caption"><b>94.fah</b> The best movies in my heart #007</div>
        <div class="post-time">1 HOUR AGO</div>
      </ons-card>

      <ons-card class="post">
        <ons-list-item class="post_title">
          <div class="left">
            <img class="list-item__thumbnail" src="assets/img/profile4.jpg" >
          </div>
          <div class="center">
            <div class="list-item__title"><b>lllpondlll</b></div>
            <div class="list-item__subtitle" style="font-size: 12px">Hah&Meng Restaurant, Phuket</div>
          </div>
          <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="ion-ios-more,material:ion-android-more-vertical"></ons-icon></ons-button></div>
        </ons-list-item>

        <div style="text-align: center; position: relative;" ondblclick="like(3)">
          <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
          <img class="post-image" src="assets/img/s3.jpg">
        </div>

        <ons-list-item class="post-button-bar" modifier="nodivider">
          <div class="center" style="padding-top: 0px">
            <ons-button class="post-button" modifier="quiet" onclick="like(3)"><ons-icon id="button-post-like-3" icon="md-favorite,material:md-favorite"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-chatbubble-outline"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-paperplane-outline"></ons-icon></ons-button>
          </div>
          <div class="right corner-button bookmark">
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="md-bookmark-outline"></ons-icon></ons-button>
          </div>
        </ons-list-item>

        <div class="post-like-info"><b>1,312 likes</b></div>
        <div class="post-caption"><b>lllpondlll</b> I love boys! #strangerthings</div>
        <div class="post-time">2 HOUR AGO</div>
      </ons-card>

      <ons-card class="post">
        <ons-list-item class="post_title">
          <div class="left">
            <img class="list-item__thumbnail" src="assets/img/profile5.png" >
          </div>
          <div class="center">
            <div class="list-item__title"><b>khii_mch</b></div>
            <div class="list-item__subtitle" style="font-size: 12px">Lisbon city, Portugal</div>
          </div>
          <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="ion-ios-more,material:ion-android-more-vertical"></ons-icon></ons-button></div>
        </ons-list-item>

        <div style="text-align: center; position: relative;" ondblclick="like(4)">
          <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
          <img class="post-image" src="assets/img/dr.jpg">
        </div>

        <ons-list-item class="post-button-bar" modifier="nodivider">
          <div class="center" style="padding-top: 0px">
            <ons-button class="post-button" modifier="quiet" onclick="like(4)"><ons-icon id="button-post-like-3" icon="md-favorite,material:md-favorite"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-chatbubble-outline"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-paperplane-outline"></ons-icon></ons-button>
          </div>
          <div class="right corner-button bookmark">
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="md-bookmark-outline"></ons-icon></ons-button>
          </div>
        </ons-list-item>

        <div class="post-like-info"><b>1,023 likes</b></div>
        <div class="post-caption"><b>khii_mch</b> Strange stronger! #drstranger</div>
        <div class="post-time">2 HOUR AGO</div>
      </ons-card>

      <ons-card class="post">
        <ons-list-item class="post_title">
          <div class="left">
            <img class="list-item__thumbnail" src="assets/img/profile6.png" >
          </div>
          <div class="center">
            <div class="list-item__title"><b>_.ppnp._</b></div>
            <div class="list-item__subtitle" style="font-size: 12px">Bangkok, Thailand</div>
          </div>
          <div class="right"><ons-button class="corner-button" modifier="quiet"><ons-icon icon="ion-ios-more,material:ion-android-more-vertical"></ons-icon></ons-button></div>
        </ons-list-item>

        <div style="text-align: center; position: relative;" ondblclick="like(5)">
          <ons-icon size="150px" id="post-like-3" class="post-like" icon="ion-ios-heart"></ons-icon>
          <img class="post-image" src="assets/img/jl.jpg">
        </div>

        <ons-list-item class="post-button-bar" modifier="nodivider">
          <div class="center" style="padding-top: 0px">
            <ons-button class="post-button" modifier="quiet" onclick="like(5)"><ons-icon id="button-post-like-3" icon="md-favorite,material:md-favorite"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-chatbubble-outline"></ons-icon></ons-button>
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="ion-ios-paperplane-outline"></ons-icon></ons-button>
          </div>
          <div class="right corner-button bookmark">
            <ons-button class="post-button" modifier="quiet"><ons-icon icon="md-bookmark-outline"></ons-icon></ons-button>
          </div>
        </ons-list-item>

        <div class="post-like-info"><b>1,035 likes</b></div>
        <div class="post-caption"><b>_.ppnp._</b> Amazing! movies</div>
        <div class="post-time">2 HOUR AGO</div>
      </ons-card>


  </ons-page>