<!doctype html>
<html lang="en">

  <head>
  
    <!--link rel="stylesheet" href="/css/style.css"-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/assets/img/CNEMA7.png">
    <script src="/js/livechat.js"></script>


        <!--link rel="stylesheet" href="/css/style.css"-->
      <ons-page id="livechat">
        
        <ons-toolbar>
            <div class="center title bg-title">
                <!--a href="/index.html" style="font-size: 30px;" style="color: purple;">Home</a-->
              <a href="/index.html"><img id="logo1" src="/assets/img/CNEMA7.png" ></a>
            </div>
          </ons-toolbar>
          <br>
         


    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p style="font-family:  Arial, Helvetica, sans-serif">Hello, I will ask about the account used.</p>
            <span class="time-right" style="font-size: 30px;">11:00</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p style="color: white;" style="font-family:  Arial, Helvetica, sans-serif">Hello.What problem happened?</p>
            <span class="time-left" style="font-size: 30px;">11:20</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p style="font-family:  Arial, Helvetica, sans-serif">I want to ask if we can return to the normal account as before or not.</p>
            <span class="time-right" style="font-size: 30px;">11:23</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p style="color: white;" style="font-family:  Arial, Helvetica, sans-serif">Yes, but it takes time to process.</p>
            <span class="time-left" style="font-size: 30px;">11:30</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p style="font-family:  Arial, Helvetica, sans-serif">How long will it take to complete the process?</p>
            <span class="time-right" style="font-size: 30px;">11:31</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p style="color: white;" style="font-family:  Arial, Helvetica, sans-serif">About 2 weeks</p>
            <span class="time-left" style="font-size: 30px;">11:40</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p style="font-family:  Arial, Helvetica, sans-serif">Ok, Thank you very much</p>
            <span class="time-right" style="font-size: 30px;">11:42</span>
        </div>
    </ons-list-item>

   
    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar"  class="right" style="width:100%;">
            <p style="color: white;" style="font-family: Arial, Helvetica, sans-serif">No problem!!</p>
            <span class="time-left" style="font-size: 30px;">11:42</span>
        </div>
    </ons-list-item>

  
</ons-page>
<br>

<div class="chat-popup" id="myForm">

    <form  class="form-container">

        
        <textarea placeholder=" message.." name="msg" required></textarea>

        <button type="submit" class="btn" style="font-size: 30px;" style="font-family:  Arial, Helvetica, sans-serif">Send</button>
        
      <a href="/index.html">  <button type="button" class="btn cancel" style="font-size: 30px;" style="font-family:  Arial, Helvetica, sans-serif">Close</button></a>
    </form>
</div>
    
  </body>
</html>




