<!doctype html>
<html lang="en">

  <head>
  
    <!--link rel="stylesheet" href="/css/style.css"-->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/assets/img/CNEMA7.png">
    <script src="/js/livechat.js"></script>


        <!--link rel="stylesheet" href="/css/style.css"-->
        



        <ons-page>
      <ons-page id="livechat">
        
        <ons-toolbar>
            <div class="center title bg-title">
              <img id="logo1" src="/assets/img/CNEMA7.png">
            </div>
          </ons-toolbar>
          <br>

  





    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p>Hello, I will ask about the account used.</p>
            <span class="time-right">11:00</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p>Hello.What problem happened?</p>
            <span class="time-left">11:20</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p>I want to ask if we can return to the normal account as before or not.</p>
            <span class="time-right">11:23</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p>Yes, but it takes time to process.</p>
            <span class="time-left">11:30</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p>How long will it take to complete the process?</p>
            <span class="time-right">11:31</span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right" style="width:100%;">
            <p>About 2 weeks</p>
            <span class="time-left">11:40</span>
        </div>
    </ons-list-item>
    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar" style="width:100%;">
            <p>Ok, Thank you very much</p>
            <span class="time-right">11:42</span>
        </div>
    </ons-list-item>

   
    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar"  class="right" style="width:100%;">
            <p>No problem!!</p>
            <span class="time-left">11:42</span>
        </div>
    </ons-list-item>

  
</ons-page>


<div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">


        
        <textarea placeholder=" message.." name="msg" required></textarea>

        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
    
  </body>
</html>




