<ons-page>

       
        <ons-toolbar>
            <div class="left"style="text-align:left;"><ons-back-button></ons-back-button></div>
            <div class="center title bg-title">
                
                <img id="logo" src="assets/img/CNEMA7.png">
            
            </div>
          </ons-toolbar>
          
    <div id="moviedetail" ></div>
  
    <div class="title">
    </div>
    <div id="rating">
    </div>
    <div id="year">
    </div>
    <div class="type">
    </div>
    <div class="time">
    </div>
    <div class="shortstory">
    </div>
    <div class="cast">
    </div>
     <div class="director">
    </div>


    

</ons-page>