<ons-page id="search">
    
    <div class="tabbar tabbar--top tabbar--top-border">
        <label class="tabbar__item tabbar--top-border__item">
            <input type="radio" name="top-tabbar-b" checked="checked">
            <button class="tabbar__button tabbar--top-border__button">
                All
            </button>
        </label>

        <label class="tabbar__item tabbar--top-border__item">
            <input type="radio" name="top-tabbar-b">
            <button class="tabbar__button tabbar--top-border__button">
                Action
            </button>
        </label>

        <label class="tabbar__item tabbar--top-border__item">
            <input type="radio" name="top-tabbar-b">
            <button class="tabbar__button tabbar--top-border__button">
                Animation
            </button>
        </label>

        <label class="tabbar__item tabbar--top-border__item">
            <input type="radio" name="top-tabbar-b">
            <button class="tabbar__button tabbar--top-border__button">
                Comedies
            </button>
        </label>

    </div>

    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" id="search_input"></ons-search-input>
        </ons-search-input>
        <button type="button" id="search" class="searchBtn">Search</button>
        
    </p>

    <div id="sug_show"></div>
    <div id="search_show"></div>

<script>
$("#search").click(function () {
   
   $("#search_show").empty();
   $("#sug_show").empty();
   $("#search_show").append("");
   var search_input = document.getElementById("search_input").value;
   console.log(search_input);
 
   db.collection("search").get().then((querySnapshot) => {
 
     querySnapshot.forEach((doc) => {

    if (`${doc.data().star}`>4){
        var star = `
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>`
    }else if(`${doc.data().star}`>3){
        var star = `
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>`
    }else if(`${doc.data().star}`>2){
        var star = `
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>`
    }else if(`${doc.data().star}`>1){
        var star = `
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>`
    }else{
        var star = `
        <ons-icon style="color: red" icon="fa-star"></ons-icon>`

    }
 
       var titleforcheck = `${doc.data().name}`;
       // console.log(titleforcheck);
       var yearforcheck = `${doc.data().years}`;
       // console.log(yearforcheck);
 
       var regexNumber = /\d/;
       var regexLetter = /[a-zA-z]/;
 
       if (regexLetter.test(search_input)) {
 
         if (titleforcheck.indexOf(search_input) != -1) {
           var row = `
           <ons-row style="margin: 5px;">
           <ons-col class="text-center">
           <img src="${doc.data().poster}" width="70%" style="margin: 5px 5px;" alt="">
           </ons-col>
   
           <ons-col>
           <p style="font-size:18px">${doc.data().name} (${doc.data().years}) </p>
           <p style="font-size:15px">${doc.data().plot}</p>
           <p style="font-size:15px">`+ star +`</p>
           </ons-col>
         
           </ons-row>`
 
 
         }
 
 
       } else if (regexNumber.test(search_input)) {
 
         if (search_input == yearforcheck) {
           var row = `
           <ons-row style="margin: 5px;">
           <ons-col class="text-center">
           <img src="${doc.data().poster}" width="80%" style="margin: 5px 5px;" alt="">
           </ons-col>
   
           <ons-col>
           <p style="font-size:10px">${doc.data().name} (${doc.data().years}) (${doc.data().years})</p>
           </ons-col>
         
           </ons-row>`
 
         }
    
       } else {
         $("#search_show").empty();
         $("#search_show").append("");
 
       }
 
       $("#search_show").append(row);
 
     });
 
   });
 
 });
</script>
</ons-page>