<ons-page id="signin">
  <div class="fhashlight" >
    <img class="logo" src="assets/img/CNEMA7.png">
    <h1 style="text-align: center">Sign In</h1>
</div>
  <div style="text-align: center; margin-top: 30px">
    <p>
      <ons-input
        id="username"
        modifier="underbar"
        placeholder="Username"
        float
      ></ons-input>
    </p>
    <p>
      <ons-input
        id="password"
        modifier="underbar"
        type="password"
        placeholder="Password"
        float
      ></ons-input>
    </p>
    <p style="color: red; font-size: 15px;">forgot your password?</p>
    <label class="remember">
      <input type="checkbox">Remember me
    </label>
    <p style="margin-top: 30px">
      <ons-button id="signinbutton" class="loginBtn1 loginBtn1--deful">Sign in</ons-button>
    </p>
    <p style="margin-top: 30px">
        <ons-button id="signingoogle" class="loginBtn loginBtn--google"> 
          <i class="fa fa-google fa-fw"></i>
          Sign in with Google
        </ons-button>
    </p>
    <p style="margin-top: 30px">
        <h3 id="error"></h3>
      </p>
  </div>

  
  <h5 style="text-align: center">Don't have an account?</h5>
  <h3 style="text-align: center">Sign up now</h3>
  
</ons-page>
